<div class="card">
    <div class="card-header">
        <h1>{{tituloListaAutos}}</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <label for="">Filtrar por</label>
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filtro">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtrar por: {{filtro}}</h3>
            </div>
        </div>
    </div>
    <table class="table" *ngIf="listaAutos.length>0">
        <thead>
            <tr class="text-primary">
                <th>
                    <button class="btn btn-primary"
                            (click)="toggleImage()">
                            {{ muestraImagen ? 'Ocultar' : 'Mostrar'}} imágenes
                    </button>
                </th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Color</th>
                <th>Kilometraje</th>
                <th>Precio</th>
                <th>Calificación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let auto of listaAutosFiltrados">
                <td>
                    <p><img [src]="auto.imagenUrl"  *ngIf="muestraImagen"
                            [style.width.px]="imageWidth"
                            [style.margin.px]="imageMargin" alt="Img Auto">
                    </p>
                </td>
                <td>{{ auto.marca }}</td>
                <td><a [routerLink]="['/auto', auto.id]">{{ auto.modelo | aEspacio: '-' }}</a></td>
                <td>{{ auto.anio }}</td>
                <td>{{ auto.color | lowercase }}</td>
                <td>{{ auto.kilometros | number }}</td>
                <td>{{ auto.precio | currency:"USD":"symbol":"1.0-0" }}</td>
                <td>
                    <estrellas
                        [calificacion]="auto.calificacion"
                        (starsClick)="onClickCalificacion($event)">
                    </estrellas>
                </td>
            </tr>
        </tbody>
    </table>
</div>